*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    margin-bottom: 10px;
    padding: 20px;
}
h1{
    color: #fff;
    text-align: center;
    padding: 20px;
}
nav{
    background-color:lightgrey;
    margin-bottom: 10px;
    font-size: 20px;
}
section{
    background-color: darkgray;
    padding: 130px;
    margin-bottom: 10px;
    font-size: 30px;
}

footer{
    background-color:#000;
    border: 1px solid lightgrey;
}